<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Control</title>
</head>
<body>
    <header th:replace="/layouts/template :: header"></header>
    <a th:href="@{/add}">[[#{customer.create}]]</a>
    <br>
    <div th:if="${customers != null and !customers.empty}">
        <table border="1">
            <tr>
                <th>[[#{customer.firstName}]]</th>
                <th>[[#{customer.lastName}]]</th>
                <th>[[#{customer.email}]]</th>
                <th>[[#{customer.phone}]]</th>
                <th>[[#{action.edit}]]</th>
                <th>[[#{action.delete}]]</th>
            </tr>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phone}"></td>
                <td><a th:href="@{/edit/} + ${customer.customerId}" th:text="#{action.edit}"></a></td>
                <td><a th:href="@{/delete(customerId=${customer.customerId})}" th:text="#{action.delete}"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${customers == null or customers.empty}">
        [[#{customer.emptyList}]]
    </div>
    <footer th:replace="/layouts/template :: footer"></footer>
</body>
</html>