<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Template</title>
    </head>
    <body>
        <header th:fragment="header">
          <h1 th:text="#{template.title}"></h1>
        </header>

        <footer th:fragment="footer">
            <div>
                <br>
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a> |
                <span>[[#{template.footer}]] C</span>
            </div>
        </footer>
    </body>
</html>